@model contact_form.Models.Contact

@{
    ViewData["Title"] = "İletişim Formu";
}

@if (ViewBag.Success == true)
{
    <div class="alert alert-success">Mesajınız başarıyla İletildi.</div>
}

<h2>İletişim Formu</h2>

<form method="post">
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label><i class="fas fa-user"></i> Adı Soyadı:</label>
                <input asp-for="Fullname" class="form-control" placeholder="Adınızı ve soyadınızı girin" />
                <span asp-validation-for="Fullname" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label><i class="fas fa-phone"></i> Telefon:</label>
                <input asp-for="Telephone" type="tel" class="form-control" placeholder="05xxxxxxxxx" pattern="[0-9]{4}-[0-9]{3}-[0-9]{2}-[0-9]{2}" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label><i class="fas fa-envelope"></i> E-posta:</label>
                <input asp-for="Email" type="email" class="form-control" placeholder="ornek@mail.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label><i class="fas fa-building"></i> Departman:</label>
                <select asp-for="Department" class="form-control">
                    <option value="">-- Seçiniz --</option>
                    <option value="Muhasebe">Muhasebe</option>
                    <option value="Teknik Destek">Teknik Destek</option>
                    <option value="İnsan Kaynakları">İnsan Kaynakları</option>
                </select>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label><i class="fas fa-message"></i> Mesaj:</label>
                <textarea asp-for="Message" class="form-control" placeholder="Mesajınızı buraya yazın..."></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Gönder</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
